<html>
	<head>
	<title>
	book
	
	</title>
	{% load static %}
	<link rel="icon" href="{%static 'images/logo3.png' %}" sizes=16x16/>
	<link rel="stylesheet" href="{%static 'css/book.css' %}">
	</head>
	<body>
		<div class="top">
		<a id="logo" href="{% url 'index' %}"><img src="{%static 'images/logo.png' %}"/></a>
		<a id="home" href="{% url 'index' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
			<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
		</svg>
		</a>
		</div>
		<div class="regform"><h1> Book Now</h1></div>
		<div class="main">
			{% for message in messages %}
			<h3 style="color:red;text-align:center;">{{message}}</h3>
			{% endfor %}
		     <form action="book" method="POST">
			 {% csrf_token %}
			   <div id="name">
			   <h2 class="name">NAME</h2>
			   {%if user.is_authenticated %}
			   <input class="firstname" type="text" name="first_name" value="{{user.First_name}}"><br>
               <label class="firstlable1"> First Name</label>			   
		       <input class="lastname" type="text" name="last_name" value="{{user.Last_name}}">
               <label class="lastlable1"> Last Name</label>
			   {%else%}
			   <input class="firstname" type="text" name="first_name"><br>
               <label class="firstlable1"> First Name</label>			   
		       <input class="lastname" type="text" name="last_name">
               <label class="lastlable1"> Last Name</label>
			   {%endif%}
		       </div>
		       <h2 class="name">VEHICLE</h2>
			   <select class="option" name="Vehicle">
			   <option disabled="disabled" selected="selected">choose option</option>
			   <option value="Tractor">Tractor</option>
			   <option value="Lorry">Lorry</option>
			   <option value="Truck">Truck</option>
			   </select>
			   <h2 class="name">ADDRESS</h2>
			   <input class="Address" type="text" name="Address">
			   <h2 class="name">EMAIL</h2>
			   {% if user.is_authenticated%}
			   <input class="email" type="email" name="email" value="{{user.email}}">
			   {%else%}
			   <input class="email" type="email" name="email">
			   {%endif%}
			   <h2 class="name">PHONE</h2>
			   <input class="number" type="text" name="phone">
			   <label class="phone-number">Phone Number</label>
			   
			   <button type="submit">Book</button>
		
		    </form>
		</div>
		
		</div>
	
	  
	<a id="previous" href="javascript:history.go(-1)">Back</a>
	</body>
	
</html>