<html>
	<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>
	login
	</title>
		{% load static %}
	<link rel="stylesheet" href="{%static 'css/forgot.css' %}">
	<link rel="icon" href="{%static 'images/logo3.png' %}" sizes=16x16/>

	</head>
	<body>
		<div class="top">
		<a id="logo" href="{% url 'index' %}"><img src="{%static 'images/logo.png' %}"/></a>
		<a id="home" href="{% url 'index' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
			<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
		</svg>
		</a>
		</div>
		{% for message in messages %}
		<h3>{{message}}</h3>
		{% endfor %}
		<form action='otp_verify2' method='POST'>
		{% csrf_token %}
			<table align="center">
			<tr><td><input type='text' name='otp'></td></tr>
			<tr><td><input type='submit' style="background: #3498db;border: 1px solid #2691d9; color:white;"></td></tr>
			</table>
		</form>
	</body>
</html>