
body{
	padding:0px;
	margin:0px;
}
.top{
	height:100px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	background:grey;
	padding:0 20 0 0;
	background-image:url("/static/images/top.jpg");
}
#logo img{
	height:100px;
	width:100px;
}
#home svg{
	color:white;
	height:50px;
	width:50px;
}
.bg-img{
	background: url("/static/images/login.png");
	height:100vh;
	background-size:cover;
	background-position:center;
}
.bg-img:after{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.content{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
	z-index:999;
	width:270px;
	text-align:center;
	padding:60px 32px;
	background:rgba(255,255,255,0.04);
	box-shadow:-1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content header{
	color:white;
	font-size:33px;
	font-weight:600;
	margin: 0 0 35px 0;
	font-family: "Monsterrat", sans-serif;
}
.feild{
	position:realtive;
	height:45px;
	width:100%;
	display:flex;
	background:rgba(255,255,255,0.94);
}
.feild span{
	color:#222;
	width:40px;
	margin:auto;
}
.feild input{
	height:100%;
	width:100%;
	background:transparent;
	border:none;
	outline:none;
	color:#222;
	font-size:16px;
	font-family:'Poppins',sans-serif;
	
}
.space{
	margin-top:16px;
}
.pass{
	text-align:left;
	margin: 10px 0;
}
.pass a{
	color:white;
	font-family:"poppins",sans-serif;
	text-decoration:none;
}
.pass:hover a{
	text-decoration:underline;
}
input[type="submit"]{
	background:#3498db;
	border:1px solid #2691d9;
	color:white;
	font-size:18px;
	letter-spacing:1px;
	font-weight:600;
	cursor:pointer;
	font-family:"Monsterrat",sans-serif;
}
input[type="submit"]:hover{
	background:#2691d9;
}
.signup{
	color:white;
	font-size:15px;
	font-family:"poppins",sans-serif;
}
.signup a{
	color:#3498db;
	text-decoration:none;
}
.signup a:hover{
	text-decoration:underline;
}
	
#previous{
	float:right;
	text-decoration:none;
	margin:10px;
	color:blue;
	font-size:30px;
}
#message{
	color:red
}