body{
	padding:0px;
	margin:0px;
	background-image:url("/static/images/login.png");
}
.top{
	height:100px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	background:grey;
	padding:0 20 0 0;
	background-image:url("/static/images/top.jpg");
}
#logo img{
	height:100px;
	width:100px;
}
#home svg{
	color:white;
	height:50px;
	width:50px;
}
table{
	background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
	padding:10px;
	margin-top:10%;
	color:white;
	font-size:150%;
}
h3{
	background:#3498db;
}
#label{
	padding:0 20 0 0;
}